* {
    border: none;
    border-radius: 0;
    font-family: "azukifontB";
    font-size: 19px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(to bottom, rgba(54, 58, 79, 0.8), rgba(54, 58, 79, 0));
    color: white;
}

#window {
    font-weight: bold;
    font-family: "azukifontB";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces /*button*/ {
    /*padding: 4 8px;
    background: #ed8796;
    border: 3px solid #595959;
    border-top: 0px;*/
    color: white;
    border-radius: 0px 0px 10px 10px;
}



#workspaces button.active {
  background: #8aadf4;
  font-family: "azukifontB";
  color: white;
  /*color: #ffffff;
  border-radius: 13px;
  border-color: #A020FF; */
  /*border: 2px solid #8aadf4;*/
  border-radius: 0px 0px 10px 10px;/*
  animation: gradient_f 20s ease-in infinite; */
  transition: all 0.3s; /*cubic-bezier(0.55, -0.68, 0.48, 1.682); */
}

#workspaces button:hover {
  background: #8aadf4;
  color: white;
  outline: none;
  box-shadow: none;
  border-radius: 0px 0px 10px 10px;
  /*animation: gradient_f 20s ease-in infinite;*/
  transition: all 0.3s /*cubic-bezier(0.55, -0.68, 0.48, 1.682); */
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #temperature, #temperature#temp2 {
    padding: 0 12px;
    margin: 0 2px;
}

#clock {
    /*font-weight: bold;
    background: #f5a97f;
    border-color: transparent;
    border-radius: 0px 0px 10px 10px; */
}


/*@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }

}
*/
#cpu {
}

#temperature {
}

#temperature#temp2{
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
   /* background: #c6a0f6;
    border-radius: 0px 0px 10px 10px; */
}

